###CodeIgniter###

*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

uploads/*
!uploads/.gitkeep
!uploads/artifact
!uploads/member

uploads/artifact/*
!uploads/artifact/gallery
!uploads/artifact/.gitkeep

#uploads/artifact/*
uploads/artifact/gallery/*
!uploads/artifact/gallery/.gitkeep

uploads/member/*
!uploads/member/.gitkeep

uploads/member/*
!uploads/member/.gitkeep

!*.gitkeep

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/


###OSX###

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk